extends base

block append content
    .payment-page
        .row.row-header.justify-content-center
            .col-sm-3
                .payment-body
                    p(style="color: red; font-size: 16px; font-weight: 500") * Payment page is under construction *
                    a(style="color: blue; text-decoration: underline" href='/patient-dashboard')= `Skip the payment >>>`