a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
}
header {
  margin: 0 5px 0 0;
}
.home_btn {
  margin: 10px 0px 10px 200px;
  font-size: 25px;
  cursor: pointer;
  font-family: sans-serif;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  display: flex;
}
.nav-bar {
  font-family: cursive;
  width: 100%;
  height: 50px;
  z-index: 10;
  position: fixed;
}
.nav__auth {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 38.5px;
  border: 2px solid #bbbbbb;
  border-radius: 4px;
}
.nav_reg-btn {
  position: relative;
  padding: 8px 30px 8px 30px;
  border: 1px solid #b5b1b1;
  border-radius: 3px;
  color: #132ad0;
  font-family: auto;
  font-weight: bold;
  font-size: 15px;
}
.nav-bar-scroll {
  background-color: #f78282;
  box-shadow: 1px 2px 15px 1px #424141;
}
.nav__options {
  display: inline-flex;
}
.slider {
  width: 100%;
  height: 750px;
  position: relative;
}
.mySlides {
  width: 100%;
  height: 750px;
  display: none;
}
.remedium-btn {
  margin-top: 10px;
}
.first-2-btn {
  margin: 17px 0px 10px 50px;
  font-size: 17px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}
.log-btn {
  margin: 17px 0px 10px 50px;
  font-size: 17px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}
.btw-btn {
  margin: 16px 0px 0px 10px;
  font-size: 17px;
  cursor: pointer;
  font-family: sans-serif;
}
.sign-btn {
  margin: 17px 0px 0px 5px;
  font-size: 17px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}
#content {
  bottom: 0;
  width: 100%;
  padding: 20px;
  width: 656px;
  height: 300px;
  text-align: center;
  animation: ani 2s linear;
}
.content-box {
  position: absolute;
  color: #f1f1f1;
  left: 100px;
  top: 250px;
  font-size: 2.5rem;
  line-height: 1.5;
  animation: ani 2s linear;
  z-index: +1;
  width: 656px;
  height: 300px;
  color: white;
  text-shadow: 1px 0px 5px #f34343;
}
.content-box_content {
  display: none;
}
.intro-content {
  padding: 4% 5%;
  text-align: center;
  background-color: #f78282c9;
  margin-top: 0;
}
.image-table {
  height: 200px;
  width: 200px;
  float: left;
  margin-top: 0;
}
.intro-table {
  margin-top: 0;
  left: 0;
  top: 750px;
  position: absolute;
  z-index: 0;
}
.intro {
  margin-top: 0;
}
.regTemp {
  width: 100%;
  height: 500px;
  position: relative;
  top: 16em;
  display: block;
}
.regTempStruct {
  margin-left: 200px;
  width: 72%;
  height: auto;
  display: flex;
}
.regTempCard {
  margin: 10px;
  width: 48%;
  height: 400px;
  display: block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  /* 100% 0% 100% 0% / 12% 73% 27% 88%; */
}
.input-group {
  top: 50px;
  position: absolute;
  height: 300px;
}
.input-field {
  width: 60%;
  padding: 10px 0;
  margin: 5px 0px 0px 50px;
  color: #040404;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.submit-btn {
  margin: 0px 0px 0px 50px;
  width: 70%;
  height: 50px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  border: 0;
  outline: none;
  background-color: #f99c9c;
  border-radius: 100% 0% 100% 0% / 20% 73% 27% 88%;
}
.check-box {
  margin: 22px;
}
.remember-me {
  margin: 17px 0px 10px 50px;
  font-size: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}
.regCardBtn {
  width: 200px;
  height: 40px;
  margin: 13px;
  border: 2px solid #83baec;
  border-radius: 5px;
  background-color: #c3dcf3;
}
.showSelectCard-content {
  width: 90%;
  height: 80%;
}
.health-facts {
  width: 80%;
  height: 50px;
  background: #f99c9c;
  margin: 40px 0px 0px 40px;
}
.healthFacts {
  display: none;
}
#recent-reviewsPanel {
  top: 18vw;
  width: 100%;
  height: 400px;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
}
.recentDoctor {
  width: 50%;
  height: 100%;
  background-color: #f9e9bc;
}
.reviewPanel {
  width: 50%;
  height: 100%;
  background-color: #f78282;
}
footer {
  width: 100%;
  height: 200px;
  background: #f3ead2;
  top: 20vw;
  position: relative;
  border-top: 2px solid black;
}
