input[type="text"],
[type="password"],
[type="email"] {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.form-box {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0px 0px 40px 5px #e22545;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #1c4979, #77bdec);
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: 1px 0px 25px 2px #254669;
}
.input-group {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  color: #040404;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid black;
  outline: none;
  background: linear-gradient(to right, #27d0e1 50%, #e3edf105 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.65s ease-out;
}
.input-field:focus {
  background-position: left bottom;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #1c4979, #77bdec);
  border: 0;
  outline: none;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 1px #254669;
}
.check-box {
  margin: 30px 10px 30px 0;
}
span {
  color: #0c0c0c;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  bottom: 64px;
  position: absolute;
}
#loginCard {
  left: 50px;
}
#registerCard {
  left: 450px;
}
::placeholder {
  color: #01080791;
  opacity: 1;
  font-size: 14px;
}
